

.attractions__details {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.list-item {
    display: flex;
    gap: 8px;
    align-items: center;

    border-bottom: 1px solid #dee2e6;
    padding-bottom: 8px;
}

.list-item__block {
    display: grid;
    gap: 24px;

}

.list-item__content {
    display: flex;
    gap: 8px;
}

.attractions__text {
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-decoration: underline;
    color: #000;
}